BOT_TOKEN=
DB_DSN="host=postgres user=postgres password=postgres dbname=activity sslmode=disable"

GOOSE_DBSTRING="host=localhost user=postgres password=postgres dbname=activity sslmode=disable"
GOOSE_DRIVER=postgres
GOOSE_MIGRATION_DIR=./migrations